# Quarto cache (no publicar)
.quarto/
.quarto-cache/

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
.venv/
.env

# (Opcional) Model artifacts si NO quieres subirlos
.joblib
.pkl



/.quarto/
**/*.quarto_ipynb
